<div class="container">
    <div class="row">
  		<div class="panel-body">
    		<table class="table table-striped">
      			<thead>
        			<tr>
			          <th>Employee Name</th>
			          <th>Employee Destination</th>
			          <th>Employee Department</th>
			          <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr *ngFor="let employee of employees">
			          	<td>{{employee.name}}</td>
			          	<td>{{employee.destination}}</td>
			          	<td>
			          		<div [ngSwitch] ="employee.department">
			          			<span *ngSwitchCase="1">Help Disk</span>
			          			<span *ngSwitchCase="2">HR</span>
			          			<span *ngSwitchCase="3">IT</span>
			          			<span *ngSwitchDefault>Not Applicable</span>
			          		</div>
			          	</td>
			          	<td>	
			          		<button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
			              	<button (click)="editEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
			          	</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div> 
